.chartTitle{
    font-weight: bold;
    font-size: 14px;
    position: relative;
    top: 100px;
}
.bar {
    fill: #B3E5FC;
&:hover {
     fill: brown;
 }
}

.barSelected{
    fill: #2196F3;
}

.axisLabel{
    position: absolute;
    color: #aaa;
    font-size: .75rem;
    font-weight: 500;
    font-family: nyt-franklin;

}

.ticks {
    font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}
.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 8px
}

.track-inset {
    stroke: #ddd;
    stroke-width: 8px - 2;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    cursor: ew-resize;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
    cursor: ew-resize;
    user-select: none;
    pointer-events: none;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.grid {
line {
    stroke: white;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
path {
    stroke-width: 0;
}
}
.g-parameter-input{
    position: relative;
    left: -230px;
    display: inline;
    min-width: 160px;
input{
    padding: 4px 0;
    width: 40px;
    margin: auto;

}
}



.tick line{
    stroke: #fff;
}

.g-parameter-chart{
    position: absolute;
}

.g-parameter{
    display: block;
    position: relative;
}

.g-parameter-chart svg {
    overflow: hidden;
}

.g-parameter-tip {
    z-index: 1;
    pointer-events: none;
    position: absolute;
    left: 50%;
    text-anchor: middle;
}

.g-parameter-tip path {
    fill: #F16195;
}

.domain {
    display: none;
}

.g-section-title{
    color: #333;
    font-family: "nyt-franklin";
    font-weight: 500;
    font-size: 24px;
    display: block;
    text-align: center;
}

.g-axis-label{
    position: absolute;
    left: 20px;
    width: 80px;
    color: #aaa;
    font-size: .75rem;
    font-weight: 500;
    font-family: nyt-franklin;
}

.pricing-graph{
}



.Table {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1rem;
    margin: 0.5rem;
    line-height: 1.5;
}
.Table-header {
    display: none;
}
@media (min-width: 500px) {
    .Table-header {
        font-weight: 700;
        background-color: #f2f2f2;
    }
}
.Table-row {
    width: 100%;
}
.Table-row:nth-of-type(even) {
    background-color: #f2f2f2;
}
.Table-row:nth-of-type(odd) {
    background-color: #ffffff;
}
@media (min-width: 500px) {
    .Table-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }
    .Table-row:nth-of-type(even) {
        background-color: #ffffff;
    }
    .Table-row:nth-of-type(odd) {
        background-color: #f2f2f2;
    }
}
.Table-row-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    padding: 0.5em;
    word-break: break-word;
}
.Table-row-item:before {
    content: attr(data-header);
    width: 30%;
    font-weight: 700;
}
@media (min-width: 500px) {
    .Table-row-item {
        padding: 0.5em;
    }
    .Table-row-item:before {
        content: none;
    }
}

